/* css styles */

.navbar-container {
  font-size: 1.25em;
}

.navbar {
  border-bottom: 1px solid #00ABC8;
}

.menu-text img {
  max-height: 40px;
}

.lightblue-highlight {
  background-color: rgb(27 191 211 / 14%);
  padding: 1em;
}

.darkblue-highlight {
  background-color: rgb(25 118 152 / 25%);
  padding: 1em;
}

h2, .h2 {
  border-bottom: none;
}
